<div class="z-10 fixed justify-center items-center flex md:bg-black/50 w-screen h-screen hidden" id="changelog">
  
  <div class="w-full h-full md:w-5/12 md:h-5/6 shadow-xl bg-slate-800 md:rounded-lg relative overflow-auto">
    <button class="absolute ml-auto top-2 right-2" id="close_changelog">
      <span class="material-symbols-outlined text-6xl text-white hover:text-red-500">close</span>
    </button>

    <div class="overflow-auto p-4 h-auto pb-12">
      <article id="content_changelog"></article>
    </div>
    
  </div>
</div>

<script>
  import { marked } from 'marked';
  const latestChangelog = await fetch('https://raw.githubusercontent.com/wiki/Nat3z/calendar-prod/Latest-Changelog.md');
  const latestChangelogText = await latestChangelog.text();
  marked.use({
    renderer: {
      link(href, title, text) {
        return `<a href="${href}" target="_blank" rel="noopener noreferrer" class="underline">${text}</a>`;
      },
    },
    headerIds: false,

  });
  const content = marked.parse(latestChangelogText);
  const content_changelog = document.getElementById('content_changelog')!;
  content_changelog.innerHTML = content;
  
  const changelog = document.getElementById('changelog')!;
  const close_changelog = document.getElementById('close_changelog')!;

  close_changelog.addEventListener('click', () => {
    changelog.classList.add('hidden');
  });
  // record the current changelog and check if it is the same as the latest one
  const currentChangelog = localStorage.getItem('changelog');
  if (currentChangelog !== content) {
    localStorage.setItem('changelog', content);
    changelog.classList.remove('hidden');
  }


</script>

<style>


</style>